.main-container {
  width: 900px;
  margin: 0 auto;
}
.replace-box input{
  padding:6px;
}
.button-box{
  margin-top:20px;
}
.button-box button{
  border: 2px solid #eee;
  background: #ff4747;
  font-weight: 800;
  color: white;
  border-radius: 40px;
  padding: 7px 14px;
  font-size: 15px;
}
textarea {
  resize: vertical;
  width: calc(100% - 20px);
  box-shadow: 1px 3px 4px #3d5e781f;
  border-radius: 12px;
  border: #d5d5d5 1px solid;
  min-height: 300px;
  padding: 10px;
  margin-top: 20px;
}