.main-container{
    width: 100%;
    margin: 0 auto;
    .data-box{
        border-radius: 5px;
        border: 2px dotted #807171;
        background-color: #fff3e8;
        padding: 10px;
        margin-bottom: 20px;
        .sentence-area{
            margin-bottom: 10px;
            .data-title{
                h2{
                    margin: 0;
                    color: #807171;
                }
            }
            .data-description{
                p{
                    margin: 0;
                    color: #807171;
                }
            }
        }
        .main-content{
            display: flex;
            width: 100%;
            border: 1px solid #333;
            .show-area{
                min-width: 30%;
                padding: 30px 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-right: 1px solid #333;
                background-color: #fefefe;
                .sample-div{
                    width: 100%;
                    height: 100%;
                    padding: 10px;
                    background-color: #00adb5;
                    color: #fefefe;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    p{
                        margin: 0;
                    }
                }
            }
            .code-area{
                flex: auto;
                .tab-area{
                    background-color: #fefefe;
	                display: flex;
                    .tab-btn{
                        width: calc(100% / 4);
                        padding: 8px 0;
                        color: #333;
                        background: #dedede;
                        text-align: center;
                        border: none;
                        cursor: pointer;
                        transition: all 0.2s ease 0s;
                    }
                    .btn-active{
                        background-color: #00adb5;
                        color: #f5f7f8;
                    }
                    .copy-button{
                        cursor: pointer;
                        padding: 0;
                        background: none;
                        border: none;
                        img{
                            width: 50%;
                            height: auto;
                            display: block;
                            margin: auto;
                        }
                        .copied-icon{
                            filter: invert(17%) sepia(91%) saturate(7085%) hue-rotate(128deg) brightness(100%) contrast(106%);
                        }
                        &:hover{
                            .copy-icon{
                                filter: invert(50%) sepia(0%) saturate(11%) hue-rotate(143deg) brightness(101%) contrast(93%);
                                transition: all 0.2s ease 0s;
                            }
                        }
                    }
                    .right-obj{
                        margin-left: auto;
                    }
                }
                .tab-content{
                    padding: 10px;
                    background-color: #25292f;
                    .tab-data{
                        display:none;
                        width: 100%;
                        overflow: auto;
                        box-sizing: border-box;
                        white-space: nowrap;
                        &::-webkit-scrollbar{
                            width: 5px;
                            height: 5px;
                        }
                        &::-webkit-scrollbar-thumb{
                            background-color: #bbb;
                            border-radius: 2px;
                        }
                        pre{
                            box-sizing: border-box;
                            white-space: nowrap;
                            width: 100px;
                            height: 100px;
                            margin: 0;
                            background-color: #25292f;
                            color: #fefefe;
                            code{
                                font-size: 12px;
                                font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
                            }
                            }
                    }
                    .active{
                        display: block !important;
                    }
                }
            }
        }
    }
}